$header_font: "aw-conqueror-carved-one";

body {
	font-size: 1em;	
	color: white;
	overflow-y: scroll;
}

h1 {
	font-family: $header_font;
	text-align: center;
}

table {
	width: 100%;
}
nav {
	ul {
		padding-left: 0;
	  li {
			font-size: 2em;
			font-family: $header_font, Helvetica, sans-serif;
		  text-align: center;
		  width: inherit;
			float: none;
			list-style-type: none;
			text-decoration: none;
			color: white;
			a {
			  text-decoration: none;
			}
			a:active {
			  color: blue;
			}
			.nav_link.ui-link:visited, .nav_link.ui-link, .nav_link.ui-link:hover {
			  color: white;
			}
		}
	}
}

#results_list {
	ul {
		padding-left: 0;
	  li {
			font-size: 1em;
			font-family: $header_font, Helvetica, sans-serif;
		  text-align: center;
		  width: inherit;
			float: none;
			list-style-type: none;
			text-decoration: none;
			color: black;
			a {
			  text-decoration: none;
			}
			a:active {
			  color: blue;
			}
		}
	}
}

.facebook {
	width: 100%
}

header {
	background-color: rgba(240,30,30,1);
	height: 100%;
	width: 100%;
	padding-top: .5em;
	padding-bottom: .5em;
	position: fixed;
	top: 0px;
	border-bottom: .4em solid rgba(200,30,30,1);
	z-index: 1000;
}

#errorExplanation {
	h2 {
		text-align: center;
		color: white;
	}
}

.mobile_nav_links {
  display: none;
}

.add_song_to_playlist:hover {
	cursor: pointer;
	text-decoration: underline;
}

#logo {
	width: 4em;
}

#logo_menu { 
  vertical-align: top; 
  width: 30px;
  height: 15px;
}

#menu_icon {
	width: 16px;
	height: 16px;
}

td {
  background-color: rgba(20,20,20,.1);
}

td {
  font-size: .8em;

}

/** font-awesome stuff **/
.upvote_action, .downvote_action {
  font-size: 2em;
	color: black;

}