<header>
		<ul>
			<li><%= image_tag("/images/juke_logotext.png", :alt => "logo", :id => "logo") %></li>			
			<%= render 'form' %>
			<li><%= link_to image_tag("/images/facebook-login-button.png", :class => "facebook"), "/auth/facebook", :id => "facebook_sign_in" %></li>
	</ul>
</header>