// Place all the styles related to the bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header_font: "aw-conqueror-carved-one";

.playlist_table {
	background-color: rgba(160,20,20,.2);
}


td {
  .ranking {
		font-weight: bold;
  }
}

.new_jukebox, .jukeboxes_index {
	padding: 1em;
	margin: 1.5em;
}

label {
  font-family: $header_font;
}

.jukebox_header {
  text-align: center;
  width: 600px;
  display: inline-block;
  h1 {
	font-size: 1.5em;
  }
  p {
    text-align:center;
  }
  .playlist {
    width: 100%;
    text-align: inherit;
    font-family: Georgia, Helvetica, sans-serif;
	  display: inline-block;
  
    table {
      width: 100%;
    }

	  .upvote_action, .downvote_action {
		  color: black;
	    font-size: 2em;
	  }
	  .upvote_action:hover, .downvote_action:hover {
		  cursor: pointer;
		  color: red;
	  }
  }
}

.location {
  font-size: .65em;
}
.new_vote_form {
  display:inline-block;	
}

.error {
  color: red;
}

.chat_container {
  margin-top: 50px;
}

.chat_room {
  padding: 15px;
  display: inline-block;
  height: 3em;
  overflow-y: auto;
  .message {
    font-size: .75em;
	text-align: center;
  }
}

.search {
	width: inherit;
  display: inline-block;
}

#results_list {
  margin-top: 1em;
	height: 5em;
	width: inherit;
  overflow-y: auto;

  .result_action {
    color: black;
  }
  .result_action:hover {
    color: blue;
  }
}