<% if @users %>
  <%= render partial: "admin_panel", locals: { :users => @users } %>
<% else %>
<h1> Welcome <%= current_user.username %>! We're so glad you're here! </h1>
<p> Seriously though, it's great to have you here. You are <i> awesome! </i> Please take the time
	to enjoy all the great features of Jooker, the coolest way to listen to music </p>
<p> If you seriously love Jooker, let me know! Email me at timboh56@gmail.com. Seriously, I'm a <i> great </i>
	guy </p> 
<% end %>
