<ul data-role="listview" class="ul-li-icon">
  <% results.each do |r| %>
		<li>
				<%= content_tag(:a, r.name.to_s + " by " + r.artist.to_s, :data => r.id, :class => "add_song_to_playlist") %>
		</li>
  <% end %>
</ul>
