$header_font: "aw-conqueror-carved-one";

body {
	width: 100%;
	font-size: 3em;
	
}
.container {
}

h1 {
	font-size: 3.3em;
}

header {
  position: absolute;
  background-color: rgba(0,0,0,.9);
  color: white;
  transition: top .1s ease-out;
  -moz-transition: top .1s ease-out;
  -webkit-transition: top .1s ease-out;
  -o-transition: top .1s ease-out;
  z-index: 1000;

  nav {
    margin: 0 auto;
	  height: inherit;
	  text-align:center;

	#logo { 
	  vertical-align: middle; 
	  img {
	    width: 70px;
	    height: 35px;
		  vertical-align: middle;
    }
  
	  :hover {
	  	background-color: black;
	  }
	}

	.active {
		background-color: rgba(160,20,20,.9);
	}

	ul {
	  width: 100%;
	  font-size: 3em;
	  height: inherit;
	  vertical-align: middle;
	}

	li, a {
	  color: #FFF;
	  font-family: $header_font, Helvetica, Verdana;
	  background-color:black;
	  font-size: .65em;
      *display:inline; /*IE7*/
      *zoom:1; /*IE7*/
	  /** for mobile?
	  display: table;
    margin:0px auto 0px auto;
	  **/
	  height: 100%;
	  vertical-align: top;
	  list-style: none;
	  text-decoration: none;
	  -webkit-transition: all .1s ease-in;
	  -moz-transition: all .1s ease-in;
	  transition: all .1s ease-in; 
	}

	li:hover, a:hover {
	  background-color: rgba(160,20,20,.9);
	  cursor: pointer;
	}
  }
}
