<div class="chat_container">
  <h1> Talk to listeners </h1>
  <div class="chat_room" data-username="<%= current_user.username %>">
  </div>
 
  <form id="new_message_form">
    <input type="text" id="message" name="message">
    <input type="submit" value="Chat">
  </form>
</div>
