<div class="title">
	<%= jukebox.name %>
	<br>
	<a href="#" id="favorite_<%= jukebox.id %>" data-fave-id="<%= favorite ? favorite.id : "" %>" class="<%= favorite ? "favorited" : "unfavorited" %>"><i class="icon-thumbs-up"></i></a>
</div>