<div class="search">
	<%= text_field_tag :search, params[:search], :placeholder => "Find for your song" %>
    <%= button_tag "Search", :class => "search_song btn btn-default", :type => "button" %>
	<div class="error"></div>
	<div id="results_list">
	</div>
</div>