<table>
  <% results.each do |r| %>
		<tr>
			<td>
			  <b> "<%= r.name %>" </b> by <%= r.artist %>
				<% if r.album %>
				  <i> from <b> <%= r.album %> </b> </i>
				<% end %>
			</td>
			<td>
				<%= content_tag(:a, "Add", :data => r.id, :class => "btn btn-default result_action") %>
			</td>
		</tr>
  <% end %>
</table>