(function() {
  jQuery(function() {
    $('body').prepend('<div id="fb-root"></div>');
    return $.ajax({
      url: "" + window.location.protocol + "//connect.facebook.net/en_US/all/debug.js",
      dataType: 'script',
      cache: true,
	  popup:true
    });
  });

  window.fbAsyncInit = function() {
    FB.init({
      appId: '618002548238033',
      cookie: true
    });
    $('#facebook_sign_in').click(function(e) {	 
      e.preventDefault();
      var fb = FB.login(function(response) {
        if (response.authResponse) {
			
		  // this call back matches to usersessions#create
          return window.location = '/auth/facebook/callback';
        }
      });
    });
    return $('#sign_out').click(function(e) {
      FB.getLoginStatus(function(response) {
        if (response.authResponse) {
          return FB.logout();
        }
      });
      return true;
    });
  };

}).call(this);
