// Place all the styles related to the bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jukebox_header {
  text-align: center;
  width: 600px;
  display: inline-block;
  h1 {
	font-size: 1.5em;
  }
  p {
    text-align:center;
  }
  .playlist {
  	text-align: inherit;
  	font-family: Georgia, Helvetica, sans-serif;
	height: 30%;
	overflow-y: scroll;
  	.song {

  	}
  }
}
.new_vote_form {
  display:inline-block;	
}

.chat_container {
  margin-top: 50px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 40px;
}

.chat_room {
  padding: 15px;
  display: inline-block;
  height: 3em;
  overflow-y: scroll;
  .message {
    font-size: .75em;
	text-align: center;
  }
}
.search {
  display: inline-block;

}

#results_list {
  margin-top: 1em;
  height: 5em;
  overflow-y: scroll;
  
  .search_results {
    text-align: center;
  }
  .result_action {
    color: black;
  }
  .result_action:hover {
    color: blue;
  }
}