$header_font: "aw-conqueror-inline";

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
  width: 100%;
}

p, ol, ul, td, label{
  font-family: Georgia, helvetica, sans-serif;
  font-size: .9em;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  font-family: Georgia, helvetica, sans-serif;
}

.partial_field {
  margin: .2em;
  float: right;
}

.super {
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: url("/images/j1.jpg") no-repeat center fixed;
  background-size: cover;
  overflow-y: auto;
  
  #notice, .container, #permission_denied {
    margin: 0 15em .5em 15em;
	border-radius: 30px;
  }
  
  #notice, #permission_denied {
	position: relative;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	width: 10em;
	top: 4.5em;
  }
  
  #notice { color: green; }
  
  #permission_denied { color: red; }

  .container {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 6em;
	padding: 30px;
	background-color: rgba(255,255,255,1);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	// pre-animation opacity 
	-webkit-opacity: .1;
	-o-opacity: .1;
	-moz-opacity: .1;
	
	p {
	display: inherit;
	width: 200px;
	margin:15px;
	vertical-align: inherit;
	}
  }
}

/** BG GRAPHICS **/

#bg, #note {
  z-index: -1;
  position:fixed;
}

#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

header {
  position: absolute;
  width: 100%;
  height:4em;
  top: -2em;
  background-color: rgba(0,0,0,.9);
  color: white;
  transition: top .1s ease-out;
  -moz-transition: top .1s ease-out;
  -webkit-transition: top .1s ease-out;
  -o-transition: top .1s ease-out;
  z-index: 1000;
  
  nav {
    margin: 0 auto;
	width: 1000px;
	height: inherit;
	text-align:center;
	
	#logo { 
	  vertical-align: middle; 
	  img {
	    width: 70px;
	    height: 35px;
		vertical-align: middle;
      }
	  
	  :hover {
	  	background-color: black;
	  }
	}
	
	.active {
		text-decoration: underline;
	}
	
	ul {
	  width: 100%;
	  font-size: 3em;
	  height: inherit;
	  vertical-align: middle;
	}
	
	li, a {
	  color: #FFF;
	  font-family: $header_font, Helvetica, Verdana;
	  display: inline-block;
	  font-size: .65em;
      *display:inline; /*IE7*/
      *zoom:1; /*IE7*/
	  margin-left: .4em;
	  margin-right: .4em;
	  /** for mobile?
	  display: table;
      margin:0px auto 0px auto;
	  **/
	  height: 100%;
	  vertical-align: top;
	  list-style: none;
	  text-decoration: none;
	  -webkit-transition: all .1s ease-in;
	  -moz-transition: all .1s ease-in;
	  transition: all .1s ease-in; 
	}
	
	li:hover, a:hover {
	  background-color: rgba(160,20,20,.9);
	  cursor: pointer;
	}
  }
}

h1 {
  font-family: $header_font, Helvetica, Verdana;
  font-size: 2em;
}

h2 {
  font-size: .75em;
  text-align: center;
  font-family: Helvetica, Verdana;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline-block;
}

#errorExplanation {
  border: 2px solid red;
  border-radius: 5px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}
