html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.container {
  margin: 0px auto;
  position: absolute;
  top: 6em;
  left: 40%;
  text-align: center;
  width: 20em;
  height:30%;
  padding: 30px;
  background-color: rgba(255,255,255,.5);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;  
}

/** BG GRAPHICS **/

#bg, #note {
  z-index: -1;
  position:fixed;
}

#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

header {
  position: absolute;
  width: 100%;
  height:4.5em;
  top: 0px;
  background-color: rgba(0,0,0,.9);
  color: white;
  
  nav {
    margin: 0 auto;
	width: 1000px;
	height: inherit;
	#logo {
	  font-family: "copal-std-outline";
	  color: white;
	}
	
	ul {
	  width: 100%;
	  font-size: 3em;
	  height: inherit;
	}
	
	li {
	  font-family: "myriad-std-sketch";
	  display: inline-block;
      *display:inline; /*IE7*/
      *zoom:1; /*IE7*/
	  margin-left: .8em;
	  margin-right: .8em;
	  /** for mobile?
	  display: table;
      margin:0px auto 0px auto;
	  **/
	  bottom: 0px;
	  line-height:1.5em;
	  list-style: none;
	  -webkit-transition: all .5s ease-in;
	  -moz-transition: all .5s ease-in;
	  transition: all .5s ease-in; 
	}
	
	li:hover {
	  color: rgba(160,20,20,.9);
	  cursor: pointer;
	}
  }
}

h1 {
  font-family: "myriad-std-sketch";
  font-size: 2em;
}

h2 {
  font-size: .75em;
  text-align: center;
  font-family: Helvetica, Verdana;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}
