<div class="new_session">
	<h1>Login</h1>

	<%= render 'form' %>

	<%= link_to image_tag("/images/facebook-login-button.png", :class => "facebook"), "/auth/facebook", :id => "facebook_sign_in" %>
</div>